/.vs/
/packages/
/.vscode/
.DS_Store
*.dSYM
/*.vcxproj.user
*.aps
/obj/
/bin/
/platform/xbox/bin/default.xbe
/platform/xbox/bin/tables/zelda_assets.dat
/tables/overworld/*.yaml
/tables/dungeon/*.yaml
/tables/img/
/tables/old/
/tables/zelda3.sfc
/tables/zelda3.smc
/saves/*.sav
/saves/sram.dat
/saves/sram.bak
/zelda3
__pycache__
/*.o
/*.exe
/*.out
/snes/*.o
/msu/alttp_msu-*.pcm
/tmp/
/tables/zelda3_assets.dat
/third_party/tcc/
/third_party/SDL2-2.24.0/
/SDL2.dll
/platform/xbox/bin/tables/zelda3_assets.dat
/platform/xbox/.gdbinit
/platform/xbox/gdb.txt
/platform/xbox/main.pdb
/platform/win32
/platform/switch
/requirements.txt
/run_with_tcc.bat
/.github
*.d
*.obj
platform/xbox/zelda3.iso
platform/xbox/main.exe
